@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  font-size: 15px;
}
* {
  font-family: "Inter", sans-serif;
}

.header-text {
  height: 400px;
}

@media (min-width: 768px) {
  .header-text {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .header-text {
    height: 600px;
  }
}

li a:hover {
  opacity: 0.5;
}

div a + p {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--bs-blue);
  }
}

.container-fluid > div > div {
  & img {
    transition: all 0.5s ease;
  }

  & img:hover {
    opacity: 0.8;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
  font-weight: bold;
}

td {
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

h1 {
  text-align: center;
}

.aver {
  display: block;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
  width: 430px;
}

.row.text-center.p-5 img {
  object-position: center;
}

.checks {
  justify-content: center;

  & p {
    width: max-content;
    margin: 10px;
    background-color: #ffffff2e;
    padding: 5px;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 17px;
  }

  & div {
    width: min-content;

    & span::after {
      content: " ";
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-evenly;
  row-gap: 3rem;
}
.grid-item {
  cursor: pointer;
}
.boton button {
  background-color: #fff;
  padding: 16px 38px;
  border-radius: 2px;
  border: 1px solid #fff;
  font-weight: 600;
  transition: background-color 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: #673ab7;
    color: #fff;
  }
}
.sections {
  padding-top: 4rem;
}
.informacion {
  padding: 144px 0;
}
.beneficios {
  padding-top: 144px;
}
.informacion > .text-center {
  & p {
    margin-top: 36px;
    font-size: 18px;
  }
}
.servicios {
  max-width: 1460px;
  margin-top: 72px;
  & h4 + p {
    margin-top: 18px;
  }
}
